SUBARU_SAP_SF/services/I0008_SAP_Quotations_to_SF_Quote/SAP_Quotations_out_Talend_in_0.2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SAP_Quotations_out_Talend_in"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="urn:subaru.eu:ECC:VehSales:QuotationsOut"
		targetNamespace="urn:subaru.eu:ECC:VehSales:QuotationsOut">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="urn:subaru.eu:ECC:VehSales:QuotationsOut" 
			targetNamespace="urn:subaru.eu:ECC:VehSales:QuotationsOut">
			<xsd:simpleType name="SF_ID">
				<xsd:restriction base="xsd:string">
					<xsd:length value="18"/>
					<xsd:pattern value="[a-zA-Z0-9]{18}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="CustomAnswer">
				<xsd:sequence>
					<xsd:element name="message" minOccurs="0" type="xsd:string" nillable="true"/>
					<xsd:element name="SF_record_ID" minOccurs="0" type="tns:SF_ID" nillable="true"/>
					<xsd:element name="status" minOccurs="0" type="xsd:string" nillable="true"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="conflict_fields">
				<xsd:sequence>
					<xsd:element name="name" minOccurs="0" type="xsd:string" nillable="true"/>
					<xsd:element name="value" minOccurs="0" type="xsd:string" nillable="true"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="SAP_Quotations_out_Talend_inOperationRequest">
			<xsd:complexType>
				<xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="SapQuotationsId" type="xsd:string">
					</xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="Name" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="LeadID" nillable="true" type="tns:SF_ID">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="BPId" nillable="true" type="tns:SF_ID">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="DealerId" nillable="true" type="tns:SF_ID">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="Status" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" maxOccurs="1" name="Model" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" maxOccurs="1" name="FuelType" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" maxOccurs="1" name="Displacement" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" maxOccurs="1" name="Transmission" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" maxOccurs="1" name="FHIOption" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" maxOccurs="1" name="LocalOption" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" maxOccurs="1" name="ExternalColor" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" maxOccurs="1" name="InternalColor" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" maxOccurs="1" name="Accessories" nillable="true" type="xsd:boolean">
					</xsd:element>
					<xsd:element minOccurs="0" maxOccurs="1" name="TradeIn" nillable="true" type="xsd:boolean">
					</xsd:element>
					<xsd:element minOccurs="0" maxOccurs="1" name="ExtendedWTY" nillable="true" type="xsd:boolean">
					</xsd:element>
					<xsd:element minOccurs="0" maxOccurs="1" name="MaintenancePackage" nillable="true" type="xsd:boolean">
					</xsd:element>
					<xsd:element minOccurs="0" maxOccurs="1" name="Finance" nillable="true" type="xsd:boolean">
					</xsd:element>
					<xsd:element minOccurs="0" maxOccurs="1" name="Value" nillable="true" type="xsd:decimal">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			</xsd:element>
			<xsd:element name="SAP_Quotations_out_Talend_inOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="result" type="tns:CustomAnswer" nillable="true"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="SAP_Quotations_out_Talend_inFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="standard" type="tns:ExchangeFaultData"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="ExchangeLogData">
				<xsd:sequence>
					<xsd:element name="severity" type="xsd:string" minOccurs="0"/>
					<xsd:element name="text" type="xsd:string"/>
					<xsd:element name="url" type="xsd:string" minOccurs="0"/>
					<xsd:element name="id" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ExchangeFaultData">
				<xsd:sequence>
					<xsd:element name="faultText" type="xsd:string"/>
					<xsd:element name="faultUrl" type="xsd:string" minOccurs="0"/>
					<xsd:element name="faultDetail" type="tns:ExchangeLogData" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="SAP_Quotations_out_Talend_inOperationRequest">
		<wsdl:part name="parameters" element="tns:SAP_Quotations_out_Talend_inOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SAP_Quotations_out_Talend_inOperationResponse">
		<wsdl:part name="parameters" element="tns:SAP_Quotations_out_Talend_inOperationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SAP_Quotations_out_Talend_inFault">
		<wsdl:part name="parameters" element="tns:SAP_Quotations_out_Talend_inFault"/>
	</wsdl:message>
	<wsdl:portType name="SAP_Quotations_out_Talend_inPortType">
		<wsdl:operation name="SAP_Quotations_out_Talend_inOperation">
			<wsdl:input message="tns:SAP_Quotations_out_Talend_inOperationRequest"></wsdl:input>
			<wsdl:output message="tns:SAP_Quotations_out_Talend_inOperationResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:SAP_Quotations_out_Talend_inFault"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SAP_Quotations_out_Talend_inBinding" type="tns:SAP_Quotations_out_Talend_inPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SAP_Quotations_out_Talend_inOperation">
			<soap:operation soapAction="http://www.talend.org/service/SAP_Quotations_out_Talend_inOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="SAP_Quotations_out_Talend_in">
		<wsdl:port name="SAP_Quotations_out_Talend_inPort" binding="tns:SAP_Quotations_out_Talend_inBinding">
			<soap:address location="http://localhost:8040/services/SAP_Quotations_out_Talend_in" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>