SUBARU_SAP_SF/services/I0001_SF_Account_to_SAP_BP/SF_Account_Out_Talend_In_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SAP_BP_out_Talend_in"
	targetNamespace="urn:subaru.eu:SF:MDM:BpIn" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:subaru.eu:SF:MDM:BpIn">

	<wsdl:types>
		<xsd:schema targetNamespace="urn:subaru.eu:SF:MDM:BpIn" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:simpleType name="SF_ID">
				<xsd:restriction base="xsd:string">
					<xsd:length value="18" />
					<xsd:pattern value="[a-zA-Z0-9]{18}" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="CustomAnswer">
				<xsd:sequence>
					<xsd:element name="conflicting_fields" minOccurs="0" maxOccurs="unbounded" type="tns:conflict_fields" nillable="true" />
					<xsd:element name="message" minOccurs="0" type="xsd:string" nillable="true" />
					<xsd:element name="SF_record_ID" minOccurs="0" type="tns:SF_ID" nillable="true" />
					<xsd:element name="status" minOccurs="0"
						nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="updated"></xsd:enumeration>
								<xsd:enumeration value="inserted"></xsd:enumeration>
								<xsd:enumeration value="conflict"></xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="conflict_fields">
				<xsd:sequence>
					<xsd:element name="name" minOccurs="0" type="xsd:string" nillable="true" />
					<xsd:element name="value" minOccurs="0" type="xsd:string" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="SF_Account_Out_Talend_In_Req"
				type="tns:SF_Account_Out_Talend_In_RequestType">
			</xsd:element>
			<xsd:element name="SF_Account_Out_Talend_In_Resp">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="tns:CustomAnswer">
							<xsd:sequence>
								<xsd:element name="Businesspartner"
									type="xsd:string">
								</xsd:element>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="SF_Account_Out_Talend_In_RequestType">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="SalesforceID" type="tns:SF_ID">
					</xsd:element>
					<xsd:element minOccurs="0" maxOccurs="1" name="SapBpCode">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="FirstName" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="LastName" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="EmailAddress" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="241"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="FiscalCode" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="16"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="PreSalesConsent" nillable="true" type="xsd:boolean">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="MarketingConsent" nillable="true" type="xsd:boolean">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="ProfilingConsent" nillable="true" type="xsd:boolean">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="PrivacyDate" nillable="true" type="xsd:date">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="PrivacyTime" nillable="true" type="xsd:time">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="Gender" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">

								<xsd:length value="1"></xsd:length>
								<xsd:enumeration value="f"></xsd:enumeration>
								<xsd:enumeration value="m"></xsd:enumeration>
								<xsd:enumeration value="?"></xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="BirthDate" nillable="true" type="xsd:date">
					</xsd:element>



					<xsd:element minOccurs="1" maxOccurs="1" name="Street" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="60"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="HouseNumber" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="City" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="Region" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="PostalCode" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="CountryCode" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="Phone" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="MobilePhone" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>

					<xsd:element name="DealerCode" nillable="true" maxOccurs="1" minOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="BpPartnerType" maxOccurs="1" minOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LanguageCode" maxOccurs="1" minOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="StorageLocation" nillable="true" maxOccurs="1" minOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="LastUpdateDate" type="xsd:dateTime">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>


			<xsd:element name="SF_Account_Out_Talend_In_Fault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="standard" type="tns:ExchangeFaultData" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="ExchangeLogData">
				<xsd:sequence>
					<xsd:element name="severity" type="xsd:string" minOccurs="0" />
					<xsd:element name="text" type="xsd:string" />
					<xsd:element name="url" type="xsd:string" minOccurs="0" />
					<xsd:element name="id" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ExchangeFaultData">
				<xsd:sequence>
					<xsd:element name="faultText" type="xsd:string" />
					<xsd:element name="faultUrl" type="xsd:string" minOccurs="0" />
					<xsd:element name="faultDetail" type="tns:ExchangeLogData" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="SF_Account_Out_Talend_inRequest">
		<wsdl:part name="parameters" element="tns:SF_Account_Out_Talend_In_Req">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="SF_Account_Out_Talend_inResponse">
		<wsdl:part name="parameters" element="tns:SF_Account_Out_Talend_In_Resp"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="SF_Account_Out_Talend_inFault">
		<wsdl:part name="parameters" element="tns:SF_Account_Out_Talend_In_Fault"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SF_Account_Out_Talend_In">
		<wsdl:operation name="SF_Account_Out_Talend_in">
			<wsdl:input message="tns:SF_Account_Out_Talend_inRequest"></wsdl:input>
			<wsdl:output message="tns:SF_Account_Out_Talend_inResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:SF_Account_Out_Talend_inFault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SF_Account_Out_Talend_In_bind"
		type="tns:SF_Account_Out_Talend_In">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SF_Account_Out_Talend_in">

			<soap:operation
				soapAction="urn:subaru.eu:SF:MDM:BpIn/SF_Account_Out_Talend_in" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="SF_Account_Out_Talend_In">
		<wsdl:port name="SF_Account_Out_Talend_In" binding="tns:SF_Account_Out_Talend_In_bind">
			<soap:address location="http://0.0.0.0:8090/services/SF_Account_Out_Talend_In" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>