SUBARU_SAP_SF/services/I0005_SAP_Lead_to_SF_Opportunity/SAP_Lead_out_Talend_in_1.2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:subaru.eu:ECC:VehSales:LeadOut" name="SAP_Lead_out_Talend_in" targetNamespace="urn:subaru.eu:ECC:VehSales:LeadOut">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:subaru.eu:ECC:VehSales:LeadOut" targetNamespace="urn:subaru.eu:ECC:VehSales:LeadOut">
			<xsd:simpleType name="SF_ID">
				<xsd:restriction base="xsd:string">
					<xsd:length value="18"/>
					<xsd:pattern value="[a-zA-Z0-9]{18}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="CustomAnswer">
				<xsd:sequence>
					<xsd:element name="message" minOccurs="0" type="xsd:string" nillable="true"/>
					<xsd:element name="SF_record_ID" minOccurs="0" type="tns:SF_ID" nillable="true"/>
					<xsd:element name="status" minOccurs="0" type="xsd:string" nillable="true"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="conflict_fields">
				<xsd:sequence>
					<xsd:element name="name" minOccurs="0" type="xsd:string" nillable="true"/>
					<xsd:element name="value" minOccurs="0" type="xsd:string" nillable="true"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="SAP_Lead_out_Talend_in_Req" type="tns:SAP_Lead_out_Talend_in_RequestType">
			</xsd:element>
			<xsd:element name="SAP_Lead_out_Talend_in_Resp">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="result" type="tns:CustomAnswer" nillable="true"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="SAP_Lead_out_Talend_in_RequestType">
				<xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="SapLeadId" type="xsd:string">
					</xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="SalesforceAccountID" type="tns:SF_ID">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="StageName" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="ModelOfInterest" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" maxOccurs="1" name="DealerCode" nillable="true" type="tns:SF_ID">
					</xsd:element>
					<xsd:element minOccurs="0" maxOccurs="1" name="Source" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" maxOccurs="1" name="SourceInfo" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" maxOccurs="1" name="CampaignActivityOfOrigin" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" maxOccurs="1" name="LostReason" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" maxOccurs="1" name="LostSubReason" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" maxOccurs="1" name="LostRemarks" nillable="true" type="xsd:string">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="SAP_Lead_out_Talend_inFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="standard" type="tns:ExchangeFaultData"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="ExchangeLogData">
				<xsd:sequence>
					<xsd:element name="severity" type="xsd:string" minOccurs="0"/>
					<xsd:element name="text" type="xsd:string"/>
					<xsd:element name="url" type="xsd:string" minOccurs="0"/>
					<xsd:element name="id" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ExchangeFaultData">
				<xsd:sequence>
					<xsd:element name="faultText" type="xsd:string"/>
					<xsd:element name="faultUrl" type="xsd:string" minOccurs="0"/>
					<xsd:element name="faultDetail" type="tns:ExchangeLogData" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="SAP_Lead_out_Talend_inRequest">
		<wsdl:part name="parameters" element="tns:SAP_Lead_out_Talend_in_Req">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="SAP_Lead_out_Talend_inResponse">
		<wsdl:part name="parameters" element="tns:SAP_Lead_out_Talend_in_Resp"/>
	</wsdl:message>
	<wsdl:message name="SAP_Lead_out_Talend_inFault">
		<wsdl:part name="parameters" element="tns:SAP_Lead_out_Talend_inFault"/>
	</wsdl:message>
	<wsdl:portType name="SAP_Lead_out_Talend_in">
		<wsdl:operation name="SAP_Lead_out_Talend_in">
			<wsdl:input message="tns:SAP_Lead_out_Talend_inRequest"/>
			<wsdl:output message="tns:SAP_Lead_out_Talend_inResponse"/>
			<wsdl:fault name="fault" message="tns:SAP_Lead_out_Talend_inFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SAP_Lead_out_Talend_in_bind" type="tns:SAP_Lead_out_Talend_in">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="SAP_Lead_out_Talend_in">
			<soap:operation soapAction="urn:subaru.eu:ECC:MDM:BpOut/SAP_Lead_out_Talend_in"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SAP_Lead_out_Talend_in">
		<wsdl:port name="SAP_Lead_out_Talend_in" binding="tns:SAP_Lead_out_Talend_in_bind">
			<soap:address location="http://0.0.0.0:8090/services/SAP_Lead_out_Talend_in"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>