SUBARU_SAP_SF/services/I0012_SF_to_SAP_VIN_EndCustomer_update/SF_VIN_update_out_Talend_in_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SF_VIN_update_out_Talend_in"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="urn:subaru.eu:SF:MDM:VINUpdateIn"
		targetNamespace="urn:subaru.eu:SF:MDM:VINUpdateIn">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="urn:subaru.eu:SF:MDM:VINUpdateIn">
			<xsd:simpleType name="SF_ID">
				<xsd:restriction base="xsd:string">
					<xsd:length value="18" />
					<xsd:pattern value="[a-zA-Z0-9]{18}" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="CustomAnswer">
				<xsd:sequence>
					<xsd:element name="conflicting_fields" minOccurs="0" maxOccurs="unbounded" type="tns:conflict_fields" nillable="true" />
					<xsd:element name="message" minOccurs="0" type="xsd:string" nillable="true" />
					<xsd:element name="SF_record_ID" minOccurs="0" type="tns:SF_ID" nillable="true" />
					<xsd:element name="status" minOccurs="0"
						nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="updated"></xsd:enumeration>
								<xsd:enumeration value="inserted"></xsd:enumeration>
								<xsd:enumeration value="conflict"></xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="conflict_fields">
				<xsd:sequence>
					<xsd:element name="name" minOccurs="0" type="xsd:string" nillable="true" />
					<xsd:element name="value" minOccurs="0" type="xsd:string" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="SF_VIN_update_out_Talend_in_Req"
				type="tns:SF_VIN_update_out_Talend_in_RequestType">
			</xsd:element>
			<xsd:element name="SF_VIN_update_out_Talend_in_Resp">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="tns:CustomAnswer">
							<xsd:sequence>
								<xsd:element name="VINUpdateId" type="xsd:string">
								</xsd:element>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="SF_VIN_update_out_Talend_in_RequestType">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="VIN" type="xsd:string">
					</xsd:element>
					<xsd:element name="VINX" type="xsd:boolean" />
					<xsd:element minOccurs="1" maxOccurs="1" name="EndCustomer" type="xsd:string">
					</xsd:element>
					<xsd:element name="EndCustomerX" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="SF_VIN_update_out_Talend_in_Fault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="standard" type="tns:ExchangeFaultData" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="ExchangeLogData">
				<xsd:sequence>
					<xsd:element name="severity" type="xsd:string" minOccurs="0" />
					<xsd:element name="text" type="xsd:string" />
					<xsd:element name="url" type="xsd:string" minOccurs="0" />
					<xsd:element name="id" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ExchangeFaultData">
				<xsd:sequence>
					<xsd:element name="faultText" type="xsd:string" />
					<xsd:element name="faultUrl" type="xsd:string" minOccurs="0" />
					<xsd:element name="faultDetail" type="tns:ExchangeLogData" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="SF_VIN_update_out_Talend_inOperationRequest">
		<wsdl:part name="parameters" element="tns:SF_VIN_update_out_Talend_in_Req"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SF_VIN_update_out_Talend_inOperationResponse">
		<wsdl:part name="parameters" element="tns:SF_VIN_update_out_Talend_in_Resp"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SF_VIN_update_out_Talend_inFault">
		<wsdl:part name="parameters" element="tns:SF_VIN_update_out_Talend_in_Fault"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="SF_VIN_update_out_Talend_inPortType">
		<wsdl:operation name="SF_VIN_update_out_Talend_inOperation">
			<wsdl:input message="tns:SF_VIN_update_out_Talend_inOperationRequest"></wsdl:input>
			<wsdl:output message="tns:SF_VIN_update_out_Talend_inOperationResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:SF_VIN_update_out_Talend_inFault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SF_VIN_update_out_Talend_inBinding" type="tns:SF_VIN_update_out_Talend_inPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SF_VIN_update_out_Talend_inOperation">
			<soap:operation soapAction="http://www.talend.org/service/SF_VIN_update_out_Talend_inOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="SF_VIN_update_out_Talend_in">
		<wsdl:port name="SF_VIN_update_out_Talend_inPort" binding="tns:SF_VIN_update_out_Talend_inBinding">
			<soap:address location="http://localhost:8040/services/SF_VIN_update_out_Talend_in" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>