SUBARU_SAP_SF/services/I0011_SAP_TradeIn_to_SF_Auto_possedute__c/SAP_TradeIn_out_Talend_in_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SAP_TradeIn_out_Talend_in"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="SAP_TradeIn_out_Talend_inOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SAP_TradeIn_out_Talend_inOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="SAP_TradeIn_out_Talend_inOperationRequest">
		<wsdl:part name="parameters" element="tns:SAP_TradeIn_out_Talend_inOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SAP_TradeIn_out_Talend_inOperationResponse">
		<wsdl:part name="parameters" element="tns:SAP_TradeIn_out_Talend_inOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="SAP_TradeIn_out_Talend_inPortType">
		<wsdl:operation name="SAP_TradeIn_out_Talend_inOperation">
			<wsdl:input message="tns:SAP_TradeIn_out_Talend_inOperationRequest"></wsdl:input>
			<wsdl:output message="tns:SAP_TradeIn_out_Talend_inOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SAP_TradeIn_out_Talend_inBinding" type="tns:SAP_TradeIn_out_Talend_inPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SAP_TradeIn_out_Talend_inOperation">
			<soap:operation soapAction="http://www.talend.org/service/SAP_TradeIn_out_Talend_inOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="SAP_TradeIn_out_Talend_in">
		<wsdl:port name="SAP_TradeIn_out_Talend_inPort" binding="tns:SAP_TradeIn_out_Talend_inBinding">
			<soap:address location="http://localhost:8090/services/SAP_TradeIn_out_Talend_in" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>