SUBARU_SAP_SF/services/I0002_SAP_BP_to_SF_Account/SAP_BP_out_Talend_in_1.10.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SAP_BP_out_Talend_in"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:subaru.eu:ECC:MDM:BpOut"
	targetNamespace="urn:subaru.eu:ECC:MDM:BpOut">

	<wsdl:types>
		<xsd:schema targetNamespace="urn:subaru.eu:ECC:MDM:BpOut"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:simpleType name="SF_ID">
				<xsd:restriction base="xsd:string">
					<xsd:length value="18" />
					<xsd:pattern value="[a-zA-Z0-9]{18}" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="CustomAnswer">
				<xsd:sequence>
					<xsd:element name="conflicting_fields" minOccurs="0"
						maxOccurs="unbounded" type="tns:conflict_fields" nillable="true" />
					<xsd:element name="message" minOccurs="0" type="xsd:string"
						nillable="true" />
					<xsd:element name="SF_record_ID" minOccurs="0" type="tns:SF_ID"
						nillable="true" />
					<xsd:element name="status" minOccurs="0" type="xsd:string"
						nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="conflict_fields">
				<xsd:sequence>
					<xsd:element name="name" minOccurs="0" type="xsd:string"
						nillable="true" />
					<xsd:element name="value" minOccurs="0" type="xsd:string"
						nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="SAP_BP_out_Talend_in_Req" type="tns:SAP_BP_out_Talend_in_RequestType">
			</xsd:element>
			<xsd:element name="SAP_BP_out_Talend_in_Resp">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="result" type="tns:CustomAnswer"
							nillable="true" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="SAP_BP_out_Talend_in_RequestType">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1"
						name="SalesforceID" type="tns:SF_ID">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1"
						name="SapBpCode" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1"
						name="FirstName" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1"
						name="LastName" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1"
						name="EmailAddress" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1"
						name="FiscalCode" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1"
						name="PreSalesConsent" nillable="true" type="xsd:boolean">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1"
						name="MarketingConsent" nillable="true" type="xsd:boolean">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1"
						name="ProfilingConsent" nillable="true" type="xsd:boolean">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1"
						name="PrivacyDate" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1"
						name="PrivacyTime" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1"
						name="Gender" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1"
						name="BirthDate" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1"
						name="Source" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1"
						name="SourceInfo" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1"
						name="Campaign_ActivityOfOrigin" nillable="true"
						type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1"
						name="Street" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1"
						name="HouseNumber" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="City"
						nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1"
						name="Region" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1"
						name="PostalCode" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1"
						name="CountryCode" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1"
						name="Phone" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1"
						name="MobilePhone" nillable="true" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1"
						name='RecordTypeId' type="tns:SF_ID">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1"
						name="SapLastUpdateDate" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1"
						name="DealerCode" type="xsd:string">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>


			<xsd:element name="SAP_BP_out_Talend_inFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="standard" type="tns:ExchangeFaultData" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="ExchangeLogData">
				<xsd:sequence>
					<xsd:element name="severity" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="text" type="xsd:string" />
					<xsd:element name="url" type="xsd:string" minOccurs="0" />
					<xsd:element name="id" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ExchangeFaultData">
				<xsd:sequence>
					<xsd:element name="faultText" type="xsd:string" />
					<xsd:element name="faultUrl" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="faultDetail" type="tns:ExchangeLogData"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="SAP_BP_out_Talend_inRequest">
		<wsdl:part name="parameters" element="tns:SAP_BP_out_Talend_in_Req">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="SAP_BP_out_Talend_inResponse">
		<wsdl:part name="parameters" element="tns:SAP_BP_out_Talend_in_Resp"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="SAP_BP_out_Talend_inFault">
		<wsdl:part name="parameters" element="tns:SAP_BP_out_Talend_inFault"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SAP_BP_out_Talend_in">
		<wsdl:operation name="SAP_BP_out_Talend_in">
			<wsdl:input message="tns:SAP_BP_out_Talend_inRequest"></wsdl:input>
			<wsdl:output message="tns:SAP_BP_out_Talend_inResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:SAP_BP_out_Talend_inFault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SAP_BP_out_Talend_in_bind"
		type="tns:SAP_BP_out_Talend_in">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SAP_BP_out_Talend_in">

			<soap:operation
				soapAction="urn:subaru.eu:ECC:MDM:BpOut/SAP_BP_out_Talend_in" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="SAP_BP_out_Talend_in">
		<wsdl:port name="SAP_BP_out_Talend_in" binding="tns:SAP_BP_out_Talend_in_bind">
			<soap:address location="http://0.0.0.0:8090/services/SAP_BP_out_Talend_in" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>