SUBARU_SAP_SF/services/I0000_SANDBOX/TEST_In_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TEST_In"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="TEST_InOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TEST_InOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="TEST_InOperationRequest">
		<wsdl:part name="parameters" element="tns:TEST_InOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="TEST_InOperationResponse">
		<wsdl:part name="parameters" element="tns:TEST_InOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="TEST_InPortType">
		<wsdl:operation name="TEST_InOperation">
			<wsdl:input message="tns:TEST_InOperationRequest"></wsdl:input>
			<wsdl:output message="tns:TEST_InOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="TEST_InBinding" type="tns:TEST_InPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="TEST_InOperation">
			<soap:operation soapAction="http://www.talend.org/service/TEST_InOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="TEST_In">
		<wsdl:port name="TEST_InPort" binding="tns:TEST_InBinding">
			<soap:address location="http://localhost:8090/services/TEST_In" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>