SUBARU_SAP_SF/services/I0010_SAP_VIN_to_SF_Asset/SF_Asset_in_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SF_Asset_in"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="SF_Asset_inOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SF_Asset_inOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="SF_Asset_inOperationRequest">
		<wsdl:part name="parameters" element="tns:SF_Asset_inOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SF_Asset_inOperationResponse">
		<wsdl:part name="parameters" element="tns:SF_Asset_inOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="SF_Asset_inPortType">
		<wsdl:operation name="SF_Asset_inOperation">
			<wsdl:input message="tns:SF_Asset_inOperationRequest"></wsdl:input>
			<wsdl:output message="tns:SF_Asset_inOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SF_Asset_inBinding" type="tns:SF_Asset_inPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SF_Asset_inOperation">
			<soap:operation soapAction="http://www.talend.org/service/SF_Asset_inOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="SF_Asset_in">
		<wsdl:port name="SF_Asset_inPort" binding="tns:SF_Asset_inBinding">
			<soap:address location="http://localhost:8090/services/SF_Asset_in" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>