SUBARU_SAP_SF/services/I0004_SF_Opportunity_to_SAP_Lead/SAP_Lead_In_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SAP_Lead_In"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="SAP_Lead_InOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SAP_Lead_InOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="SAP_Lead_InOperationRequest">
		<wsdl:part name="parameters" element="tns:SAP_Lead_InOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SAP_Lead_InOperationResponse">
		<wsdl:part name="parameters" element="tns:SAP_Lead_InOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="SAP_Lead_InPortType">
		<wsdl:operation name="SAP_Lead_InOperation">
			<wsdl:input message="tns:SAP_Lead_InOperationRequest"></wsdl:input>
			<wsdl:output message="tns:SAP_Lead_InOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SAP_Lead_InBinding" type="tns:SAP_Lead_InPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SAP_Lead_InOperation">
			<soap:operation soapAction="http://www.talend.org/service/SAP_Lead_InOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="SAP_Lead_In">
		<wsdl:port name="SAP_Lead_InPort" binding="tns:SAP_Lead_InBinding">
			<soap:address location="http://localhost:8090/services/SAP_Lead_In" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>