SUBARU_SAP_SF/services/I0004_SF_Opportunity_to_SAP_Lead/SAP_Lead_In_0.1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n1="urn:sap-com:document:sap:rfc:functions">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsdl:types>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
   <xsd:simpleType name="char10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char16">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="16"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char20">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="20"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char22">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="22"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char4">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions">
   <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
   <xsd:complexType name="Zg70ExchangeFaultData">
    <xsd:sequence>
     <xsd:element name="FaultText" type="xsd:string"/>
     <xsd:element name="FaultUrl" type="xsd:string"/>
     <xsd:element name="FaultDetail" type="tns:Zg70ExchangeLogDataTab"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Zg70ExchangeLogData">
    <xsd:sequence>
     <xsd:element name="Severity" type="xsd:string"/>
     <xsd:element name="Text" type="xsd:string"/>
     <xsd:element name="Url" type="xsd:string"/>
     <xsd:element name="Id" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Zg70ExchangeLogDataTab">
    <xsd:sequence>
     <xsd:element name="item" type="tns:Zg70ExchangeLogData" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="ZFg81LeadReceive">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="Campaign" type="xsd:string"/>
      <xsd:element name="Dealer" type="n0:char10"/>
      <xsd:element name="Followtype" type="n0:char4"/>
      <xsd:element name="Followupdate" type="n0:char16"/>
      <xsd:element name="Followuptime" type="n0:char22"/>
      <xsd:element name="Leaddate" type="n0:char16"/>
      <xsd:element name="Leadtime" type="n0:char22"/>
      <xsd:element name="Modelofinterest" type="n0:char20"/>
      <xsd:element name="Remark" type="xsd:string"/>
      <xsd:element name="Sapbpcode" type="n0:char10"/>
      <xsd:element name="Source" type="n0:char3"/>
      <xsd:element name="Subsource" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="ZFg81LeadReceiveResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="Fault" type="tns:Zg70ExchangeFaultData"/>
      <xsd:element name="Leadid" type="n0:char10"/>
      <xsd:element name="Message" type="xsd:string"/>
      <xsd:element name="Status" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="ZFg81LeadReceive">
  <wsdl:part name="parameters" element="tns:ZFg81LeadReceive"/>
 </wsdl:message>
 <wsdl:message name="ZFg81LeadReceiveResponse">
  <wsdl:part name="parameters" element="tns:ZFg81LeadReceiveResponse"/>
 </wsdl:message>
 <wsdl:portType name="ZII_G81_SAP_LEAD_IN">
  <wsdl:operation name="ZFg81LeadReceive">
   <wsdl:input message="tns:ZFg81LeadReceive"/>
   <wsdl:output message="tns:ZFg81LeadReceiveResponse"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>