SUBARU_SAP_SF/services/I0004_SF_Opportunity_to_SAP_Lead/SF_Opportunity_out_Talend_in_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SF_Opportunity_out_Talend_in"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="SF_Opportunity_out_Talend_inOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string">
							<xsd:element name="Campaign" type="xsd:string"/>
							<xsd:element name="Dealer" type="xsd:string"/>
							<xsd:element name="Followtype" type="xsd:string"/>
							<xsd:element name="Followupdate" type="xsd:string"/>
							<xsd:element name="Followuptime" type="xsd:string"/>
							<xsd:element name="Leaddate" type="xsd:string"/>
							<xsd:element name="Leadtime" type="xsd:string"/>
							<xsd:element name="Modelofinterest" type="xsd:string"/>
							<xsd:element name="Remark" type="xsd:string"/>
							<xsd:element name="Sapbpcode" type="xsd:string"/>
							<xsd:element name="Source" type="xsd:string"/>
							<xsd:element name="Subsource" type="xsd:string"/>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SF_Opportunity_out_Talend_inOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="SF_Opportunity_out_Talend_inOperationRequest">
		<wsdl:part name="parameters" element="tns:SF_Opportunity_out_Talend_inOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SF_Opportunity_out_Talend_inOperationResponse">
		<wsdl:part name="parameters" element="tns:SF_Opportunity_out_Talend_inOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="SF_Opportunity_out_Talend_inPortType">
		<wsdl:operation name="SF_Opportunity_out_Talend_inOperation">
			<wsdl:input message="tns:SF_Opportunity_out_Talend_inOperationRequest"></wsdl:input>
			<wsdl:output message="tns:SF_Opportunity_out_Talend_inOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SF_Opportunity_out_Talend_inBinding" type="tns:SF_Opportunity_out_Talend_inPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SF_Opportunity_out_Talend_inOperation">
			<soap:operation soapAction="http://www.talend.org/service/SF_Opportunity_out_Talend_inOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="SF_Opportunity_out_Talend_in">
		<wsdl:port name="SF_Opportunity_out_Talend_inPort" binding="tns:SF_Opportunity_out_Talend_inBinding">
			<soap:address location="http://localhost:8090/services/SF_Opportunity_out_Talend_in" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>